//base
@import "base/vars";
@import "base/reset";
@import "base/utilities";
@import "base/fonts";

//components
@import "components/navbar";
@import "components/footer";
//layouts
@import "layouts/index";
@import "layouts/profesionales";
@import "layouts/planesdeentrenamiento";
@import "layouts/rehabilitacion";
@import "layouts/contacto";
@import "layouts/media_queries";