@media (max-width: 767px) {
.hero {
    display: grid;
    grid-template-columns: 1fr;
    .hero-left {
    width: 100%;
    right: 0;
    padding: 20px;
    z-index: 1;
    }
    .hero-right {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 300px;
    transition: 0.5s;
    overflow: hidden;
    z-index: 1;
    }


}
.boton {
    width: 50%;
}
}