body{
    background-color: $main-color;
    color: $light-color;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.hero {
    padding: 20px;
    @include flex (row, center, unset, 20px);
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 1px $light-color;
    margin-top: 20px;
    color: $light-color;
    position: relative;
    padding: 30px;
    .hero-left {
        @include flex (column, center, flex-end, 20px);
        width: 50%;
        position: relative;
        right: 5%;
        padding: 20px;
        z-index: 1;
    }
    .hero-right {
        width: 40%;
        height: 500px;
        transition: .5s;
        overflow: hidden;
        z-index: 1;
        border-radius: 10px;

        &:hover img{
            transform: scale(1.1);
            border-radius: 10px;
        }
        img{
            @include img (100%, 100%, cover);
            transition: .5s;
        }

        @media (max-width:767px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 400px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                
            }  
        }

    }

    h1, h2, h3 {
        text-decoration: underline;
    }
}