body{
    background-color: $main-color;
    color: $light-color;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.hero {
    padding: 20px;
    @include flex (row, center, unset, 20px);
    margin-top: 20px;
    position: relative;
    padding: 30px;
    gap: 20px;

}
    .hero-left {
        
        @include flex (column, center, flex-end, 20px);
        width: 50%;
        position: relative;
        right: 5%;
        padding: 20px;
        z-index: 1;
    }