body{
    background-color: $main-color;
    color: $light-color;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;



}

h1{
    text-decoration: underline;
}

.container {
    padding: 20px;
    @include flex (column, center, flex-start, 20px);



    .producto {
        display: grid;
        grid-template-columns: repeat (auto-fit, minmax(320px,1fr));
        background-color: $pfk-color;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0px 0px 1px $light-color;
        margin-bottom: 20px;
        position: relative;
        padding: 30px;
        height: 100%;
        transition: .5;

        &:hover {
            transition: .5s;
            background-color: #04244b; 
        }

        &:hover img{
            transition: .5s;
            transform: scale(1.03);
        }


        

    }
    
    .product-content{
        @include flex (column, center, flex-start, 20px);
        height: 100%;
        width: 100%;
        transition: .5s;

}
}